# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/react_deploy1/node_modules
/react_deploy2/node_modules

# testing
/coverage

# production
/react_deploy1/build
/react_deploy2/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

